@keyframes starAnimation {
  0% {
    transform: scale(0, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
  100% {
    transform: scale(1);
  }
}

.stars-component {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: white;
  overflow: hidden;

  .full-stars {
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    overflow: hidden;
    color: black;
    transform-origin: left;
    animation: starAnimation 0.7s ease-in-out forwards;
  }

  .empty-stars::before,
  .full-stars::before {
    content: "\2605\2605\2605\2605\2605";
    font-size: 2rem;
  }

  .empty-stars::before {
    -webkit-text-stroke: 1.2px black;
  }

  .full-stars::before {
    -webkit-text-stroke: 1px black;
  }
}
