// No prefix, mobile first
.products {
  .infiniteloader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .products-grid {
    width: 100%;
    display: grid;
    row-gap: 40px;
    column-gap: 10px;
    grid-template-columns: repeat(1, minmax(186px, 1fr));
    padding: 0 15px;
    a {
      display: flex;
      justify-content: center;
      &:hover {
        box-shadow: none;
        transform: scale(1.05);
      }
      .item {
        display: flex;
        flex-direction: column;
        width: 300px;
        border: 1px solid #e0e0e0;
        box-shadow: 1px 1px 1px 1px #e0e0e0;
        .title {
          padding-left: 10px;
          text-transform: capitalize;
          text-align: left;
          margin: 10px 0;
        }
        .description {
          padding-left: 10px;
        }
        .price {
          padding: 10px;
          color: red;
        }

        img {
          width: 100%;
          min-height: 300px;
          object-fit: cover;
        }
      }
    }
  }
}

/**
 * Tablet and Desktop
 */
.desktop.products {
  .products-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 0 15px;

    a {
      border: 1px solid #e0e0e0;
      box-shadow: 1px 1px 1px 1px #e0e0e0;

      .item {
        border: none;
        box-shadow: none;
      }
    }
  }
}
