//  no prefix for mobile and tablet

main.cart {
  width: 100vw;
  .empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-container {
    .price {
      color: green;
      font-size: 25px;
    }
    .strike-price {
      margin-left: 8px;
      color: var(--color_sale);
      text-decoration: line-through;
    }
  }

  .detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    .label {
      display: none;
    }
    .price-section {
      .content {
        .row {
          display: flex;
          border: 1px solid #e0e0e090;
          box-shadow: 1px 1px 1px 1px #e0e0e0;
          padding: 8px;

          .img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            background-color: #e0e0e0;
            margin: 0 20px;
          }

          .row-content {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            a {
              border-bottom: 1px solid #e0e0e0;
              margin: 10px 0;
              padding-bottom: 10px;
              width: 100%;

              div:nth-child(1) {
                text-transform: capitalize;
              }
            }

            .quantity-container {
              flex: 0;
            }

            .product-price {
              display: none;
            }

            .total-price {
              width: 55%;
              text-align: right;
            }
          }
        }
      }
    }

    .summary {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid #e0e0e0;
      box-shadow: 1px 2px 1px 1px #e0e0e0;
      text-align: center;
      padding: 10px;

      h2 {
        margin: 10px 0;
        text-align: center;
      }
      .sctlb-button {
        width: 90%;
      }
    }
  }
}

/**
  * Desktop
  */

main.desktop.cart {
  .detail {
    flex-direction: row;
    .label {
      display: none;
    }
    .price-section {
      flex: 1;
      .content {
        font-size: 16px;
        .row {
          .row-content {
            align-items: center;
            gap: 30px;
            a {
              max-width: 500px;
              flex: 1;
              border: none;
            }

            .total-price {
              flex: 0;
              text-align: right;
            }
          }
        }
      }
    }
    .summary {
      margin-top: 0;
    }
  }
}
